- def render(partial, locals = {})
-   Haml::Engine.new(File.read("_#{partial}.html.haml")).render(Object.new, locals)

!!! 5
%html{ lang: 'en' }
  %head
    %title Demo Page
  %body
    %h1 Why should I use HAML?
    %ol
      %li It's much easier on the eyes.
      %li You'll type less.
      %li You can embed Ruby and/or Rails commands.
      = render 'image'
